{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

    <title>BSRS</title>
    <style>
        #lnk:hover{
            color:gray;
        }
        #lnk{
            color:goldenrod;
        }
        #label{
            color:goldenrod;
        }
    </style>
</head>

<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url({% static 'images/driver.jpeg' %}); background-position:right"></div>
        <div class="contents order-2 order-md-1">

            <div class="container bg-secondary">
                <div class="row align-items-center justify-content-center" style="background-color:transparent;">
                    <div class="col-md-7">
                        <center>
                            <h1 class="text-warning"><strong>Driver Login</strong></h1>
                        </center>
                        <form method="post" class="mt-5">
                            {% csrf_token %}
                            <div class="form-group first">
                                <label id="label" for="username">Name</label>
                                <input required type="text" class="form-control" placeholder="your-name" name="driver_name">
                            </div>
                            <div class="form-group last mb-3">
                                <label id="label" for="password">Password</label>
                                <input required type="password" class="form-control" placeholder="Your Password" name="password">
                            </div>

                            <input type="submit" value="Log In" class="btn btn-block btn-outline-warning">

                        </form>
                        <h5 style="margin-top: 10px;"><a id="lnk" href="{% url 'login' %}">Student Login</a></h5>
                        <h5 style="margin-top: 10px;"><a id="lnk" href="{% url 'home' %}">Home</a></h5>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% if message %}
    <script>alert("{{message}}")</script>
    {% endif %}
</body>

</html>